/*Beginning of signin main*/

.form-wrapper-2 {
    width: 300px;
    height:300px;
    margin: auto;
    border-radius: 4PX;
    background-color: #EFEFEF;
    position: relative;
    top: 90px;
}

.section-1 h2 {
    text-align: center;
}
.form-info {
    font-size: 11px;
    text-align: center;
}
.form-div-2{
    width: 100%;
    height:100%;
    position: absolute;
    background-color: #EFEFEF; 
} 
.button{
    text-align: right;
}


/*End of login */

/*Begining of signup*/
h3 {
    text-align: left;
    font-size: 10px; 
}
.form-wrapper-1{ 
    width: 300px;
    height:400px;
    margin: 0 auto;
    position: relative;
    top: 10px;  
    
} 
.form-div-1 {
     width: 100%;
     height: 90%;
     display: block;
     position: absolute;
     background-color: #EFEFEF;
          
 } 
 form > input {
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    padding-top: 10px;
    padding-right: 20px;
    margin-left: 70px;
    margin-bottom: 5px;
    font-weight: lighter;    
}

.button {
    background-color:greenyellow;
    color: #FFFFFF;
    font-weight: 200;
    display: inline-block;
    text-align: center !important;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;

}  
.block{
    width: 50%;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    
}

.footer {
    bottom:40px;
}
   
/*End of signup main*/

